@import "./base/variables";
@import "./utilities/extens";
@import "./layout/mixin";


.principal{
    background-image: url(../asset/DividirAmbientes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.principal{
    h1{
        @extend %textoHeader;
        padding-top: 15%
    }
    p{
        @extend %textoHeader;
        padding-top: 30%;
    }
}

.tarjetas{
    background-color: rgba(105,97, 97, 0.169);
    margin-top: 8%;
    margin-bottom: 10%;
}

.card-title, .card-text{
    text-align: center;
    font-size: 1rem;
    font-style: solid;
}

.pie-pagina{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.subtitulo{
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
    color: rgba(11, 11, 11, 0.97);
}

.Texto{
    font-size: medium;
    text-align: center;
    color: rgba(19, 17, 17, 0.821);
}

@media only screen and (min-width: 601px){
    .pie-pagina{
        flex-wrap: nowrap;
    }

}

/*Servicios*/

body.Servicios{
    background-color: rgba(219, 219, 28, 0.243);
    @include wid-gral(100%);
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-wrap: wrap-reverse;
}
.Encab-serv{
    @extend %textoHeader;
    padding-top: 5%;
}
h2{
    font-family: nth($fuentes,1);
    text-align: center;
    color: rgba(0, 0, 0, 0.871);
    font-size: medium;
}
.Techos, .Pared, .Muebles{
    margin: 5%;
    padding: 0;
    float: left;
}
.Techos h2, .Pared h2, .Muebles h2{
    font-size: medium;
    font-family: nth($fuentes,2);
}
.Techos{
    @include wid-gral(300px);
}
.Pared{
    @include wid-gral(300px);
}
.Muebles{
    @include wid-gral(300px);
}
.Techos li, .Muebles li{
    font-family: nth($fuentes,2);
}
.textoPared{
    font-family: nth($fuentes,2);
    font-size: medium;
    color: rgba(0,0,0);
    padding-top: 0;
}
.box1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
    margin: 2% 3%;
    background-color: rgba(0,0,0,0.775);
    border: 0.5rem solid rgba(0, 0, 0, 0.855);
}
.box1 img{
    border: 1px solid azure;
    border-radius: 1%;
    margin: 0,3%;
    width: 90%;
    height: 100%;
}

/*Nosotros*/

.Nosotros1{
    background-color: rgba(244, 219, 187, 0.767);
    @include wid-gral(100%);
}
.titulo-nos{
    @extend %textoHeader;
    padding-top: 5%;
}

a{
    text-decoration: none;
}

.Foto img{
    width: 100%;
    height: 30%;
}

p.Nosotros2{
    font-family: nth($fuentes,3);
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
}

.Nos2, .Diferencia{
    margin: 5%;
    padding: 0;
    float: left;
}

.Nos2{
    @include wid-gral(700px);
}
.Diferencia{
    @include wid-gral(300px);
}

.Nos2 p, .Diferencia li{
    font-size: medium;
    font-family: nth($fuentes,3);
}

p.Conta{
    margin-right: 40%;
    font-size: large;
    font-family: nth($fuentes,3);
}

/*Preguntas frecuentes*/
.Pre-frec{
    background-color:rgba(244, 219, 187, 0.767);
    @include wid-gral(100%);
}

.titulo-nos{
    @extend %textoHeader;
}

/*Contacto*/
.contacto{
    background-color: rgba(244, 219, 187, 0.767);
    width: auto;
}

.h1contacto{
    @extend %textoHeader;
}

.Contac p{
    font-size: 5%;
    text-align: center;
    margin-top: 3%;
}

.Contac img{
    width: 30%;
    height: 20%;
    padding: 4%;
}

.card-contacto{
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 500px){
    .card-contacto{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 600px){
    .card-contacto{
        justify-content: center;
        gap: 3%;
    }
}
