* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.subtitulo {
  margin-top: 2%;
  font-size: 20px;
  text-align: center;
  color: rgba(11, 11, 11, 0.97);
}

.Texto {
  font-size: medium;
  text-align: center;
  color: rgba(19, 17, 17, 0.821);
}

.h1Contacto, .titulo-nos, .Encab-serv, .principal .texto-imp {
  font-size: 2, 5rem;
  font-style: solid;
  color: rgba(0, 0, 0, 0.961);
  text-align: center;
}

.tarjetas {
  background-color: rgba(105, 97, 97, 0.169);
  padding: 10% 20px 8% 20px;
}

.card-title, .card-text {
  text-align: center;
  font-size: 1rem;
  font-style: solid;
}

.principal {
  background-image: url(../asset/DividirAmbientes.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20%;
  filter: brightness(0.8);
}
body.Servicios {
  background-color: rgba(210, 210, 205, 0.905);
  width: 100%;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap-reverse;
}

.Encab-serv {
  padding-top: 5%;
}

h2 {
  font-family: "Poppins";
  text-align: center;
  color: rgba(0, 0, 0, 0.871);
  font-size: medium;
}

.Techos, .Pared, .Muebles {
  margin: 5%;
  padding: 0;
  float: left;
}

.Techos h2, .Pared h2, .Muebles h2 {
  font-size: medium;
  font-family: sans-serif;
}

.Techos {
  width: 300px;
}

.Muebles {
  width: 300px;
}

.Pared {
  width: 300px;
}

.Techos li, .Muebles li {
  font-family: sans-serif;
}

.textoPared {
  font-family: sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
  padding-top: 0;
}

.box1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
  margin: 2% 3%;
  background-color: rgba(0, 0, 0, 0.775);
  border: 0.5rem solid rgba(0, 0, 0, 0.855);
}

.box1 img {
  border: 1px solid azure;
  border-radius: 1%;
  margin: 0, 3%;
  width: 90%;
  height: 100%;
}

.Nosotros1 {
  background-color: rgba(244, 219, 187, 0.767);
  width: 100%;
}

.titulo-nos {
  padding-top: 8%;
}

a {
  text-decoration: none;
}

.Foto img {
  width: 100%;
  height: 30%;
}

p.Nosotros2 {
  font-family: Arial;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
}

.Nos2, .Diferencia {
  margin: 5%;
  padding: 0;
  float: left;
}

.Nos2 {
  width: 700px;
}

.Diferencia {
  width: 300px;
}

.Nos2 p, .Diferencia li {
  font-size: medium;
  font-family: Arial;
}

p.Conta {
  margin-right: 40%;
  font-size: large;
  font-family: Arial;
}

.Pre-frec {
  background-color: rgba(186, 185, 183, 0.767);
  width: 100%;
}

.text-center {
  height: 100%;
  padding-left: 5%;
}

.contacto {
  background-color: rgba(216, 211, 216, 0.767);
  width: auto;
}

.h1Contacto {
  padding-top: 8%;
}

.Texto p {
  font-size: 15%;
  font-style: solid;
  text-align: center;
  margin-top: 2%;
}

.Contac img {
  width: 30%;
  height: 45%;
  padding: 2%;
  margin-top: 5%;
}

.card-contacto {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .card-contacto {
    flex-wrap: wrap;
  }
  .principal {
    padding-top: 15vh;
  }
  .pie-pagina {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .pie-pagina .contenedor-redes-footer {
    width: min-content;
    margin: 0 4%;
    text-align: center;
  }
  .pie-pagina .contenedor-redes-footer .contenedor-logos-redes {
    flex-direction: column;
    align-items: center;
  }
  .pie-pagina .contenedor-nosotros-footer {
    display: flex;
    flex-direction: column;
  }
  .pie-pagina .contenedor-nosotros-footer ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .card-contacto {
    justify-content: center;
    gap: 3%;
  }
}

/*# sourceMappingURL=style.css.map */
