body{
    width: 100%;
    height: 100%;
}
.principal{
    background-image: url(../asset/DividirAmbientes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100vh;
}
.Texto-imp{
    font-size: 1.5rem;
    color:rgba(0, 0, 0, 0.966);
    padding-top: 23%;
    text-align: center;
}

.Texto{
    font-size: medium;
    text-align: center;
    color:rgba(19, 17, 17, 0.821);
    
}
.tarjetas{
    background-color: rgba(105, 97, 97, 0.169);
    margin-top: 8%;
    margin-bottom: 10%;
}
.card-title, .card-text{
    text-align: center;
}

.pie-pagina{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content:space-between;
    color: rgba(0, 0, 0, 0.91);
}
.subtitulo h3{
    margin-top: 2%;
    font-size: 20px;
}


/*Servicios*/
body.Servicios{
    background-image: url(../asset/NuevoFondoSer.jpg);
    width: 100%;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-wrap: wrap-reverse;
}

h2{
    font-family: "Poppins", sans-serif;
    text-align: right;
    color: rgba(0, 0, 0, 0.871);
    margin-right: 5%;

}
.Techos, .Pared, .Muebles{
    margin: 5%;
    padding: 0;
    float: left;
    }
.Techos h2, .Pared h2, .Muebles h2{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0%;
}
.Techos{
    width: 300px;
    }
.Pared{
    width: 300px;
    }
.Muebles{
    width: 300px;
    }
.Techos li, .Muebles li{
    font-family: Arial, Helvetica, sans-serif;
}
.textoPared{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);
    padding-top: 0;
}
.box1{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
    margin: 2% 3%;
    background-color: rgba(0, 0, 0, 0.775);
    border: 0.5rem solid rgba(0, 0, 0, 0.855);
}
.box1 img{
    border: 1px solid azure;
    border-radius: 1%;
    margin: 0 3%;
    width: 90%;
    height: 100%;
}


/*Nosotros*/
.Nosotros1{
    background-color: rgba(219, 219, 28, 0.243);
    width: 100%;
}
.Nosotros1 h1{
    font-family: "Poppins", sans-serif;
    text-align: left;
    color: rgba(0, 0, 0, 0.967);
}

a{
    text-decoration: none;
}
.Foto img{
    width: 100%;
    height: 30%;
}

p.Nosotros2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}
.Nos2, .Diferencia{
    margin: 5%;
    padding: 0;
    float: left;
    }
.Nos2 h2 , .Diferencia h2{
    color: rgba(0, 0, 0, 0.935);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0%;
}
.Nos2{
    width: 700px;
    }
.Diferencia{
    width: 300px;
    }
.Nos2 p, .Diferencia li{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.Conta{
    margin-right: 40%;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Preguntas frecuentes*/
.Pre-frec{
    background-color: rgba(244, 219, 187, 0.767);
    width: 100%;
}
h1{
    font-size: x-large;
    font-family: "Poppins", sans-serif;
    color: black;
    text-align: center
}


/*Contacto*/
.contacto{
    background-color: hsla(58, 89%, 69%, 0.733);
}
.contacto-main{
    position: relative;
}
.contacto h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    font-size:xx-large;
}

.slogan p{
    text-align: center;
}
.Contac p{
    font-size: medium;
    text-align: center;
}
.Contac img{
    width: 20%;
    height: 15%;
    padding: 4%;
    margin-right: 3%;
}

.llamado p{
    text-align: left;
    font-size: medium;
    text-decoration: none;
    margin: 1%;
}

.llamado img{
    width: 3%;
    height: 1%;
    margin: 1%;
    margin-top: 0%;
}

iframe{
    margin-top: 0%;
    margin-left: 65%;
}


