@media only screen and (max-width:500px){
    .card-contacto{
        flex-wrap: wrap;
    }
    .principal{
        padding-top: 15vh;
    }

    .h1Contacto, .titulo-nos, .Encab-serv{
        padding-top: 15vh;
    }
    
}

@media only screen and (min-width:600px){
    .card-contacto{
        justify-content: center;
        gap: 3%;
    }
    
}

//@media only screen and (min-width: 601px){
//       .pie-pagina{
//           flex-wrap: nowrap;
//       }
//   }