.contacto{
    background-color: rgba(216, 211, 216, 0.767);
    width: auto;
}
.h1Contacto{
    @extend %textoHeader;
    padding-top: 8%;
}
.Texto p{
    font-size: 15%;
    font-style: solid;
    text-align: center;
    margin-top: 2%;
}
.Contac img{
    width: 30%;
    height: 45%;
    padding: 2%;
    margin-top: 5%;
}
.card-contacto{
    width: 100%;
    display: flex;
}
