.Nosotros1{
    background-color: rgba(244, 219, 187, 0.767);
    @include wid-gral(100%);
}
.titulo-nos{
    @extend %textoHeader;
    padding-top: 5%;
}
a{
    text-decoration: none;
}
.Foto img{
    width: 100%;
    height: 30%;
}
p.Nosotros2{
    font-family: nth($fuentes,3);
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
}
.Nos2, .Diferencia{
    margin: 5%;
    padding: 0;
    float: left;
}
.Nos2{
    @include wid-gral(700px);
}
.Diferencia{
    @include wid-gral(300px);
}
.Nos2 p, .Diferencia li{
    font-size: medium;
    font-family: nth($fuentes,3);
}
p.Conta{
    margin-right: 40%;
    font-size: large;
    font-family: nth($fuentes,3);
}